@import "tailwindcss";

@theme {
    --color-primary: oklch(0.769 0.188 70.08); /* amber-500 */
    --color-primary-dark: oklch(0.555 0.163 48.998); /* amber-700 */
  
    --color-secondary: oklch(0.795 0.184 86.047); /* yellow-500 */
  
    --color-background: oklch(0.962 0.059 95.617);/* amber-100 */
  }